@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

$family-secondary: 'Georgia', 'Noto Serif', serif;
$footer-padding: 0.7rem 1.5rem .6rem;
$widescreen: 960px;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.whole-page {
    min-height: 100vh;
}

.is-max-custom-width {
    max-width: 840px;
}

.header-section {
    padding-bottom: 0 !important;
}

.blog-section {
    .profile {
        border-radius: 50%;
    }
    .blog-text {
        p {
            margin-bottom: 1.5em;
            max-width: 600px;
        }
    }
}

.fix-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.fix-footer-invis {
    visibility: hidden;
    width: 100%;
}

.brand-link {
    color:#4a4a4a;
}
.brand-link:hover {
    color:black;
}

.force-left-justify {
    justify-content: left !important;
}

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";